/* Add a black background color to the top navigation */
.topnav {
  background-color: #1E1E24;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6564DB;
  color: white;
}

html {
  background: linear-gradient(to right, #D4D2D5, lightgray);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  padding-left: 0px;
}

html body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 10px;
}

main {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 12pt;
  padding: 0 10px 0 10px;
  flex-basis: 100%;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

article {
  display: flex;
  justify-content: center;
}

li {
  margin: 10px 0;
}

footer {
  display: flex;
  text-align: left;
  font-size: 0.9em;
  padding-left: 10px;
  box-sizing: border-box;
  height: 10%;
  flex-basis: 100%;
  justify-content: left;
  margin-top: 20px;
  border-top: 3px solid black;
}

#andre {
  flex-basis: 50%;
  box-sizing: border-box;
  border-right: 3px solid black;
}

#pedro {
  flex-basis: 50%;
  box-sizing: border-box;
}

figure figcaption {
  text-align: center;
  margin-top: 5px;
}

@media only screen and (max-device-width: 900px),
(orientation: landscape) {
  body {
    width: 100%;
    height: 100%;
  }

  main {
    flex-wrap: wrap;
  }
}